name: CI

on:
  push:
    branches:
      - main

env:
  BRANCH_PAGES: github-pages

permissions:
  contents: write

jobs:
  release-charts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_dir: kafka_backend,kafka_client_consumer  # Suppression des ./ et ../
          target_dir: .
          branch: ${{ env.BRANCH_PAGES }}
          charts_url: https://raw.githubusercontent.com/${{ github.repository }}/${{ env.BRANCH_PAGES }}
          linting: false

      - name: Summary
        run: echo "Charts published to https://raw.githubusercontent.com/${{ github.repository }}/${{ env.BRANCH_PAGES }}"